" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"  the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=5
set showcmd
set visualbell
set incsearch
set number
set relativenumber
set clipboard+=unnamedplus

set idearefactormode=keep
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set multiple-cursors
set wildmenu
set surround
set argtextobj
set textobj-entire
set commentary
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
set keep-english-in-normal
set ideajoin
set ideastatusicon=gray
"set which-key

"" --- mappings
"set timeoutlen=500
inoremap jk <Esc>
inoremap kj <Esc>
map Q gq
let mapleader="\<space>"
" 定义命名空间，再按使用频率优化（最常用的拥有最少的按键）
" Search
map <leader><space> <Action>(SearchEverywhere)
map <leader>/ <Action>(FindInPath)
map <leader>sa <Action>(GotoAction)
" Explorer
map <leader>e <Action>(SelectInProjectView)
" Debug
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>dd <Action>(Debug)
map <leader>ds <Action>(Stop)
" Code Go To
map <leader>gi <Action>(GotoImplementation)
" Code Refactor
map <leader>rn <Action>(RenameElement)
map <leader>rm <Action>(ExtractMethod)
map <leader>rv <Action>(IntroduceVariable)
map <leader>rc <Action>(IntroduceConstant)
map <leader>rf <Action>(IntroduceField)
" Code Format
map <leader>cf V<Action>(ReformatCode)
" Other
map <S-Space> <Action>(GotoNextError)
