" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"  the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set scrolloff=5
set history=300
set showcmd
set visualbell
set incsearch
set number
set relativenumber
set clipboard+=unnamedplus

set idearefactormode=keep
" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
set multiple-cursors
set wildmenu
set surround
set argtextobj
set textobj-entire

Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-unimpaired'

set keep-english-in-normal
set ideajoin
set ideastatusicon=gray
"" --- mappings
" 与我的*vim的keymaps尽可能一致

map Q gq

nnoremap <silent> [b :bprevious<CR>
nnoremap <silent> ]b :bnext<CR>
nnoremap <silent> [t :tabprevious<CR>
nnoremap <silent> ]t :tabnext<CR>

" Goto
map gD <Action>(GotoDeclaration)
map gI <Action>(GotoImplementation)
map gr <Action>(FindUsages)
map gy <Action>(GotoTypeDeclaration)
map gK <Action>(ParameterInfo)
"map K <Action>ShowHoverInfo

let mapleader="\<space>"

" Search
map <leader><space> <Action>(SearchEverywhere)
map <leader>/ <Action>(FindInPath)
map <leader>sr <Action>(ReplaceInPath)

" Explorer
map <leader>e <Action>(SelectInProjectView)

" Debug
map <leader>db <Action>(ToggleLineBreakpoint)
map <leader>ds <Action>(Debug)
map <leader>de <Action>(Stop)

" Code
" Alt+Enter更方便
map <leader>ca <Action>(ShowIntentionActions)
" Alt+Shift
map <leader>cg <Action>(Generate)
map <leader>cr <Action>(RenameElement)
map <leader>cf V<Action>(ReformatCode)
